@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}


header{
    color: white;
    background-color: black;
    width: 90%;
    height: 40%;
    margin: auto;
    padding: 1%;
}
header h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1rem;
    border: solid 1pt red;/*dotted dashed double*/
    padding: 1%;
}
nav li{
    display: inline;
}
nav{
    background: grey;
    width: 92%;
    text-align: center;
    margin: auto;
}

nav li a{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 150%;
    text-decoration: none;
    padding: 10px 20px;
    border-right: solid 1px red;
    font-variant: small-caps;
    color: white;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 1%;
    width: 90%;
}
nav li a:hover{
    background-color: lightgrey;
    text-decoration: underline;
}
#minust ul{
    list-style-type: none;
    overflow: hidden;
}
#minust li{
 margin-bottom: 9px;
}
main {
    padding: 2em;
}
section {
    margin-bottom: 2em;
    border: solid black 1pt;
    padding-left: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
img{
    width: 10%;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}